name: Test
on: [push, pull_request]

jobs:
  test:
    name: Build and run tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install dependencies
        run: npm install
      - name: Check types
        run: npm run typecheck
      - name: Run tests
        run: npm test
      - name: Publish Preview Release
        run: npx pkg-pr-new publish

